AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Right
AlignOperands: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: true
IncludeBlocks: Regroup
IndentCaseLabels: false
IndentWidth: 4
MaxEmptyLinesToKeep: 2
SortIncludes: false
